@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --gap: 24px;
  --radius: 15px;
  --shadow: 5px 5px rgba(0, 0, 0, 0.27);

  --light-color: rgba(255, 255, 255, 0.748);
  --main-color: rgb(6, 31, 70);
  --dark-gray: rgb(34, 34, 34);
  --theme-color: rgb(34, 34, 34);
  --highlight-color: rgb(106, 46, 150);

  box-sizing: border-box;
}

html,
body {
  height: 100%;
  /* width: 100vw; */
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

/* Usual background, change the URL */
html {
  /* background: url(./images/bread-bg.jpg) no-repeat center center fixed; */
  /* background-size: cover; */
  background-color: var(--theme-color);
}

/* Usual header */
header {
  padding: 20px;
  padding-left: 36px;
  padding-right: 36px;
  background-color: #00000095;
  font-weight: bold;
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* box-shadow: var(--shadow); */
  color: white;
  z-index: 1;
}

/* Usual footer */
footer {
  font-size: 10px;
  text-align: center;
  background-color: #0606069d;
  color: white;
  padding-left: var(--gap);
  padding-right: var(--gap);
  padding-top: 12px;
  padding-bottom: 12px;
}

main {
  height: 100%;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background: url(./images/bg5.jpg) no-repeat center center fixed;
  background-size: cover; */
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}
